body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    width: 300px;
    height: 500px;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ff9f00;
}

input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: #ff9f00;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

#songInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coverImageContainer {
    width: 80%; 
    max-height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden; 
}

#coverImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#songName {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

audio {
    width: 100%;
    margin-top: 20px;
}

#pauseButton {
    margin-top: 20px; 
    padding: 10px 20px;
    border: none;
    background-color: #ff9f00;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

#pauseButton:hover {
    background-color: #ff7f00;
}
